/* navbar Styles  */
.logo{
  border: 1px solid black;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
}
.nav-container{
  display: flex;
  align-items: center;
justify-content: space-between;
}

/* transaction section  */
.transaction-container{
  display:flex;
  justify-items: center;
  /* align-items: center; */
  gap: 20px;
}

.div-1{
  width: 30%;
  border-right: 2px solid black;
  margin-left: 40px;
  padding: 30px;
  text-align: center;
}

.div-2{
  padding: 20px;
  line-height: 3;
}

.tran-text{
  font-size: 18px;
}

.box-1{
  border: 2px solid black;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}



/* Tour Planner */
.container {
  border: 2px solid black;
  padding: 20px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  border-radius: 4px;
}

.tour-text {
  border: 2px solid black;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: -50px;
  font-weight: bold;
}
.box {
  margin: 20px;
}

.box label {
  font-weight: bold;
}
.check-btn {
  text-align: right;
}
.check-btn button {
  padding: 7px 20px;
  border: 2px solid black;
  border-radius: 3px;
}

/* Search Styles Start*/

.search-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 30px;
  justify-items: end;
}

.search-type {
  padding: 10px 30px;
  border: 2px solid black;
  text-align: center;
  border-radius: 4px;
}